* {
  font-family: "Didact Gothic";
  box-sizing: border-box;
  color: #4c3b4d;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Exo;
}
.center {
  text-align: center;
}
.center-block {
  margin: 0 auto;
}
.container {
  padding: 1px;
}
.content {
  margin: 15px 10px;
  border: 1px dashed #355691;
  padding: 15px;
  position: relative;
}
.background-logo {
  position: absolute;
  top: -25px;
  left: -15px;
  width: 50px;
  height: 40px;
  background: no-repeat left top/100% url(img/logo-transparent.png);
  background-color: white;
}
.column {
  display: inline-block;
  vertical-align: middle;
}
.column.column-top {
  vertical-align: top;
}
.column:not(:nth-child(2)) {
  margin-left: 15px;
}
.column.no-column-margin {
  margin-left: 0;
}
table, th, tr, td {
  border: 1px solid #b3d0c5;
  border-collapse: collapse;
}
table p {
  color: black;
}

table.text * {
  font-family: "Inconsolata";
}
table.text th, table.text td, table.text tr {
  border: none;
}
table.text thead th, table.text tbody tr:not(:last-child) td {
  border-bottom: 1px solid transparent;
}
table.text tbody tr td {
  border-top: 1px solid transparent;
}
table.text {
  border: 1px solid #b3d0c5; /* shade of b3d0c5 */
  border-top: none;
}
table.text thead th {
  background-color: transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #b3d0c5;
}
table tr, table th, table td {
  height: 32px;
}
table.text tbody th {
  text-align: right;
  font-weight: normal;
  font-size: 0.9em;
  background-color: #eeeeee;
}
table.text p {
  padding-top: 0;
  padding-bottom: 0;
}
td {
  padding: 0;
  white-space: nowrap;
}
th {
  background: #c9eddc;
  min-width: 40px;
  font-family: "Titillium Web";
  font-weight: bold;
  color: #4c3b4d;
  padding: 2px 8px;
}
th:not(:first-child) {
  min-width: 100px;
}
th.wider {
  min-width: 130px;
}
th.small:not(:first-child) {
  min-width: 50px;
}
tr.header th, tr.header td {
  border-bottom: 2px solid #89b6a5;
}

.bold {
  font-weight: bold;
}
.value {
  text-align: right;
}
.good {
  background-color: #ccffcc;
  color: #008f00;
}
.bad {
  background-color: #ffcccc;
  color: #cc0000;
}

td p {
  margin: 0;
  padding: 5px 8px;
  vertical-align: top;
}
td p:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}
td code {
  margin-top: 0;
  padding: 0 8px !important;
}
td p + code {
  font-size: 0.9em !important;
}

.message {
  font-family: "Titillium Web";
  background-color: #4c3b4d;
  padding: 10px 15px;
  margin: 20px 0;
  color: white;
}
.message * {
  color: white;
}
.message, .message * {
  font-size: 18px;
}
.message p, .message ol {
  margin: 0;
}
.justify {
  text-align: justify;
}

.img-margin {
  margin-top: 10px;
}

code.code-small {
  font-size: 0.8em !important;
}
/* Override default prism coy theme */
code {
  border: none !important;
  background-color: transparent;
  white-space: pre !important;
}
.secondary {
  color: #675068; /* shade of #4c3b4d */
}

.long-arrow-right#arrow-save-as-csv {
  transform: translate(8px, 0) scale(1.3, 1.0) rotate(135deg);
}
.long-arrow-right.arrow-small {
  transform: rotate(135deg) scale(0.7, 0.7);
}

/* arrow css */
/* https://codepen.io/hongweitang/pen/XWJbbKo */
.arrow-right,
.arrow-left,
.long-arrow-right,
.long-arrow-left{
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border-top: 2px solid #4c3b4d;
  border-left: 2px solid #4c3b4d;
}
.arrow-right,
.long-arrow-right{
 transform: rotate(135deg);
}

.arrow-left,
.long-arrow-left{
 transform: rotate(-45deg);
}
.long-arrow-right::after,
.long-arrow-left::after{
  content: "";
  display: block;
  width: 2px;
  height: 45px;
  background-color: #4c3b4d;
  transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
}
