* {
  color: #555555;
  font-family: "Didact Gothic";
  box-sizing: border-box;
}
table, th, tr, td {
  background: #fafafa;
  border: 1px solid #c9baca;
  border: 1px solid #89b6a5;
  border-collapse: collapse;
}
th, td {
  padding: 5px 8px;
  white-space: nowrap;
}
th {
  background: #c9eddc;
  min-width: 50px;
  font-family: "Titillium Web";
  font-weight: bold;
}
th:not(:first-child) {
  min-width: 100px;
}
